*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

body, html{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color:  antiquewhite;
}

.container{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.formview{
    justify-content: center;
    margin-top: 100px;
}

.forminput{
    height: 50px;
    padding-top: 20px;
    font-size: large;
}

.banner{
    display: block;
    width: 100%;
    background-color: blue;
    padding-top: 20px;
    text-align: center;
    height: 60px;
}

.content{
    display: block;
    width: 100%;
    background-color: blue;
    text-align:center;
}

.peoplelist{
    display: block;
}

.people{
    display: inline-block;
    width: 30%;
    height: 250px;
    text-align: center;
}

.people img{
    width: 100px;
    height: 100px;
    text-align: center;
}

.peoplelist .peopleimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 5px;
}

.people .peoplename{
    display: block;
}

.peoplelist .peopledesignation{
    display: block;
}

.peoplelist .studentphoto{
    display: block;
}